extends blocks/color/color

html
  head
    link(rel="icon" type="image/png" href=require('~Images/favicon.png'))
    link(href=require('./styles/main.scss') rel='stylesheet')
  body
    block color

    script(src=require('./main.js'))
