html
  head
    link(rel="icon" type="image/png" href=require('~Images/favicon.png'))
    link(href=require('./styles/main.scss') rel='stylesheet')
  body
    h1.h1 Hello Pug!!!
    div
      p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
      img(src=require('~Images/japanese-garden.png') alt="japanese-garden")

    script(src=require('./main.js'))
